Node-RED.txt
{"id":"ba488a4a.3aa948","type":"tab","label":"ESP8266 Set LED","disabled":false,"info":""},{"id":"9d33dafb.ef1058","type":"ibmiot in","z":"ba488a4a.3aa948","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":140,"wires":[["49438733.8d88d8","56e622de.0e4bdc","914e20da.f9bec"]]},{"id":"c930de9a.6cf2b","type":"ibmiot out","z":"ba488a4a.3aa948","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"na","deviceType":"na","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":140,"wires":[]},{"id":"49438733.8d88d8","type":"switch","z":"ba488a4a.3aa948","name":"","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gte","v":"79","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":224,"y":128,"wires":[["80ced2c5.ed669"]]},{"id":"80ced2c5.ed669","type":"change","z":"ba488a4a.3aa948","name":"Set LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"r\" : 255, \"g\" : 0, \"b\" : 0 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["c930de9a.6cf2b","75d65038.b467b"]]},{"id":"75d65038.b467b","type":"debug","z":"ba488a4a.3aa948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":70,"wires":[]},{"id":"56e622de.0e4bdc","type":"debug","z":"ba488a4a.3aa948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":209,"y":379,"wires":[]},{"id":"ef0c31be.3ea02","type":"change","z":"ba488a4a.3aa948","name":"Set LED Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"r\" : 0, \"g\" : 0, \"b\" : 255}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":434,"y":216,"wires":[["75d65038.b467b","c930de9a.6cf2b"]]},{"id":"914e20da.f9bec","type":"switch","z":"ba488a4a.3aa948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":238,"wires":[["ef0c31be.3ea02"]]}]